.topic {
    background-image: url(../img/background-topic.png);
    min-height: 400px;
    background-position: center;
}

.topic-card {
    margin-top: 30px;
    text-align: center;
    box-shadow: 0px 0px 5px #bfbfbf;
    background-color: white;
    min-height: 200px;
    position: relative;
}

.topic-card-body {
    overflow: hidden;
}

.topic-card:hover .topic-card-body img {
    transform: scale(1.3) rotate(8deg);
}

.topic-card a {
    font-size: 16px;
    margin-top: 14px;
    display: inline-block;
}

.topic-card p {
    font-size: 14px;
}

.topic-card img {
    transition: .5s ease;
    width: 100%;
}

.topic-title{
    margin: 30px 0px;
    text-align: center;
}

.topic-title h2{
    color: gray;
    font-size: 20px;
}

.topic-ul {
    padding: 0px;
    color: #a3a3a3;
    border-top: 1px solid #efefef;
    padding-top: 9px;
}

.topic-ul li {
    display: inline-block;
}

.topic-ul li {
    margin: 0px 5px;
}

.topic-ul li span {
    margin: 0px 2px;
}

.topic-card-body .card-data{
    position: absolute;
    top: 50%;
    right: 11%;
    font-size: 14px;
}

.topic-card-body .card-data div:nth-child(1){
    background-color: #feaf3a;
    padding: 2px 3px;
}

.topic-card-body .card-data div:nth-child(2){
    background-color: #9f9d98;
    padding: 2px 3px;
}

.topic-card-footer p:nth-child(2){
    color: gray;
}

